.inputbox {
padding:5px;
border:1px solid #888888;
background-color:#ffffff;
color:#000000;
width:400px;
}

.fixfloat {
clear:both;
display:block;
overflow:hidden;
}

.inputboxmini {
padding:5px;
border:1px solid #888888;
background-color:#ffffff;
color:#000000;
width:50px;
}

.inputboxprice {
padding:5px;
border:1px solid #888888;
background-color:#ffffff;
color:#000000;
width:100px;
}

.inputboxmed {
padding:5px;
border:1px solid #888888;
background-color:#ffffff;
color:#000000;
width:112px;
}

#awpcpqsearch { background:#f2f2f2; padding:5px 0px 0px 5px; margin:10px auto 10px auto; }

#awpcpqsearch select { width:112px; padding:4px; }

#awpcpqsearch b { font-size:12px;}

.textareainput { width:80%; border:1px inset #444444; }

.messagedisplay {padding:5px;background-color: rgb(255, 251, 204);}
.tenpad  {padding:100px;}


table.listcatsh { width: 100%; padding: 0px; border: none; border: 1px solid #dddddd;}
table.listcatsh td { width:33%;font-size: 12px; border: none; background-color: #F4F4F4;
vertical-align: middle; padding: 7px; font-weight: bold; }
table.listcatsh tr.special td { border-bottom: 1px solid #ff0000;  }
table.listcatsc { width: 100%; padding: 0px; border: none; border: 1px solid #dddddd;}
table.listcatsc td { width:33%;border: none;
vertical-align: middle; padding: 5px; font-weight: normal; }
table.listcatsc tr.special td { border-bottom: 1px solid #ff0000;  }


.toplevelitem { font-size:12px;color:#333333;font-weight:bold; text-decoration:none; }
.toplevelitem a { font-weight:bold;font-size:12px; color:#333333;text-decoration:none; }
.toplevelitem a:hover { font-weight:bold;font-size:12px; text-decoration:none; }
.toplevelitem a:visited { text-decoration:none; color:#333333; }


.postaclassified { float:left; }

.postaclassified a { font-size:14px; color:#444444; }

.scbox { border:1px solid #dddddd; } 
.scbutton { border:1px dotted #dddddd; background:#cccccc; font-size:14px; color:#444444; }

.classisearch { float:right; }

.uiwelcome { margin:0 0 20px 0; }

#classiwrapper { padding:5px; }

#classiwrapper p { padding-bottom:5px; padding-top:10px; }

#classiwrapper #postsearchads { padding:0px 0 15px 0; }

#classiwrapper ul {
margin:0;
padding:0;
list-style:none;
}

#classiwrapper ul li {
list-style:none;
background-image:none;
margin:0;
padding:0;
}

#classiwrapper ul#postsearchads {
list-style:none;
margin:0;
}

#postsearchads ul { margin:0; padding:0; float:left; }

#classiwrapper #postsearchads li {
list-style:none;
float:left;
margin:0 15px 10px 0;
}

#postsearchads .searchcads {
background: transparent url("../images/search_ico.png") no-repeat left center;
padding-left:20px;
}

#postsearchads .faqads {
background: transparent url("../images/question-mark.jpg") no-repeat left center;
padding-left:20px;
}

#postsearchads .edit {
background: transparent url("../images/edit_ico.png") no-repeat left center;
padding-left:20px;
}

#postsearchads .postad {
background: transparent url("../images/post_ico.png") no-repeat left center;
padding-left:20px;
}

#postsearchads .browse {
background: transparent url("../images/house_post-doc.jpg") no-repeat left center;
padding-left:20px;
}

.editclassified {
float:right;
}


.headeritem {width:98%;padding:5px;font-weight:bold;color:#333333;}

.buywith {
background:#eeeeee;
border-top:1px dotted #dddddd;
border-bottom:1px dotted #dddddd;
color:#333333;
font-weight:bold;
font-size:medium;
padding:10px;
margin-bottom:20px;
}

#showawpcpadpage {
margin-top:10px;}

#showawpcpadpage .adtitle {
background:#eeeeee;
border-top:1px dotted #dddddd;
border-bottom:1px dotted #dddddd;
color:#333333;
font-weight:bold;
font-size:medium;
padding:10px;
}

#showawpcpadpage .adbyline {
margin-top:5px;
padding:5px;

}

#showawpcpadpage .adbyline .adbylinelocation {
float:left;
}

#showawpcpadpage .adbyline .awpcpadviews {
}

#showawpcpadpage .adbyline .awpcpadviews .views {
font-weight:bold;
color:#ff0000;
}

#showawpcpadpage .addetails {
padding:10px;
margin-top:20px;
}

#showawpcpadpage .addetails .addetails_top {
margin:10px 0px 0px 0px;
width:95%;
}

#showawpcpadpage .addetails .addetails_top .addetails_top_items {
float:left;
width:195px;
margin:0;
}

#showawpcpadpage .addetails .addetails_top .addetails_top_image {
float:right;
}

#showawpcpadpage .addetails .addetails_top .addetails_top_image ul {
margin:0;
padding:0;
}

#showawpcpadpage .addetails .addetails_top .addetails_top_image img {
	margin: 0px 20px 0px 0px;
	padding: 2px;
	border: 1px solid #dddddd;

}


#showawpcpadpage p {
}


#displayimagethumbswrapper {}

#displayimagethumbswrapper #displayimagethumbs {}
#displayimagethumbswrapper #displayimagethumbs img {border:none;}

#displayimagethumbswrapper #displayimagethumbs ul{list-style:none;}
#displayimagethumbswrapper #displayimagethumbs li{list-style:none;float:left;margin:10px;}


.classimenu1 {
padding:15px;}

.browseads {
padding:10px;
}

table.displayads { width: 100%; padding: 0px; border: none;}
table.displayads td { width:33%;font-size: 12px; border: none; background-color: #F4F4F4;
vertical-align: middle; font-weight: bold; }
table.displayads tr.special td { border-bottom: 1px solid #dddddd;  }

		
table.displayads .displayadsicell{
background:none;
border:none;
font-weight:normal;
}


.cl-adsense {
margin:10px 0 10px 0;
text-align:center;
background:#f2f2f2;
padding:10px;
}

.alert {
background:#ffffcc;
color:#800000;
font-weight:bold;
padding:5px;
}

.alert a {
color:#800000;
font-weight:bold;
text-decoration:underline;
}

.imgtransparency {
-moz-opacity:.20; filter:alpha(opacity=20); opacity:.20;

}

.awpcpwidget { clear:both; overflow:hidden; }

.awpcplatestthumb {
	margin-right:10px;
	margin-left:10px;
	margin-bottom:5px;
	padding:5px;
	float:left;
	background: none repeat scroll 0 0 #F2F2F2;
	-moz-border-radius: 5px 5px 5px 5px;
}
.awpcplatestbox {
	margin-bottom:5px;
}
.awpcplatestspacer {
	clear:both;
}

#alphabarwrapper ul#alphabar { margin:0; padding:0px 0px 25px 0px;list-style-type:none;float:left; }
#alphabarwrapper #alphabar li { list-style:none; list-style-type:none; float:left;padding:5px;text-align:center;background:#f1f1f1;margin:0px 2px 2px 0px; } 
#alphabarwrapper #alphabar li a { text-decoration:none;font-weight:normal;font-size:small; } 
#alphabarwrapper { padding:5px;  }
#alphabarwrapper h3 { margin:0; padding:0; border-bottom:#f3f3f3; font-size:small; text-transform:uppercase; }

#loginform {
display:block;
margin:10px auto 10px auto;
padding:10px;
width:200px;
}

#loginform .textinput  {
padding:5px;
width:180px
}

#loginform .submitbutton  {
padding:5px;
float:right;
}

.itemprice {}

.itemprice .price {
font-weight:bold;
color:#ff0000;
}


.displayadshead { padding:10px; }
.displayadscellimg {  border:1px solid #eeeeee; padding:5px;  }
img.awpcpbrowseadsimg  { width:60px; }

.displayadscellheadline { padding:5px; border-bottom:1px solid #eeeeee; border-top:1px solid #eeeeee; }
.displayadscelllocation { padding:5px;  border-bottom:1px solid #eeeeee; border-top:1px solid #eeeeee; }
.displayadscellviews { padding:5px; border-right:1px solid #eeeeee; border-top:1px solid #eeeeee;  border-bottom:1px solid #eeeeee;}
.displayadscellposted { padding:5px;  border-bottom:1px solid #eeeeee; border-top:1px solid #eeeeee; font-size:x-small; }

.changecategoryselect { padding:5px; float:left; margin-bottom:10px; }
.changecategoryselect .button { }


.pager { float:right; }
.pager a { padding:2px; border:1px solid #cccccc; }

#awpcpcatlayout { width:100%; }
#awpcpcatlayout .awpcpcatlayoutleft { width:70%;  }
#awpcpcatlayout .awpcpcatlayoutright { width:25%;  float:right; border-left:1px solid #dddddd;}

#awpcpcatlayout .awpcpcatlayoutright ul { list-style:none; margin-left:10px;  }
#awpcpcatlayout .awpcpcatlayoutright ul li { float:left; list-style:none; margin:0;  }
#awpcpcatlayout .awpcpcatlayoutright ul li a {  }
#awpcpcatlayout .awpcpcatlayoutright ul li ul li { margin:3px 0 3px 0; padding-right:5px; }
#awpcpcatlayout .awpcpcatlayoutright span { font-weight:bold; }

#showcategoriesmainlist {  }
#showcategoriesmainlist ul {  list-style:none; }
#showcategoriesmainlist ul li { width:210px; float:left; list-style:none; padding:0; margin:3px 10px 5px 0px; }
#showcategoriesmainlist ul li a { text-decoration:none; }

#showcategoriesmainlist ul li.maincat {  }

#showcategoriesmainlist ul li ul { margin:0px 0px 20px 10px; list-style:none; }

#showcategoriesmainlist .showcategoriessublist {   }
#showcategoriesmainlist .showcategoriessublist ul {  float:left; list-style:none; }
#showcategoriesmainlist .showcategoriessublist ul li { float:left; list-style:none; margin:0; padding:0;  background:none; }

p.maincategoryclass 
{
	background:#eeeeee;
	text-align:center;

}

.categoryicon
{
margin:0px 2px 0px 2px;
vertical-align:middle;
}


div.uploadform {  float:left; padding:5px; }
.theuploaddiv .button {  margin-top:20px; padding:6px; }
div.theuploaddiv { display:block;padding:10px;   }
.finishbutton {  background:#f2f2f2; height:auto !important; min-height:60px; width:90%; padding:10px; }
.finishbutton .finishbuttonleft {  float:left; width:70%; margin-right:25px; }
.finishbutton .finishbuttonright {  float:left;  }
.finishbutton .button { text-align:center; padding:6px; margin:10px 0px; }
p.uploaderror { padding:5px; background:#ffffcc; color:#000000; }
div.unsetsavedlocationslink { clear:both;padding:5px;background:#f2f2f2; width:300px;text-align:center;}

.erroralert { color:#ff0000;font-weight:bold;font-size:14px; }
.cladinfo { margin-bottom:10px; }
.adviewed { margin:10px 0px; border-top:1px dotted #333333; padding-top:10px; }
.thumbshow { background:#f2f2f2;	display: inline; 	border:1px solid #d3d3d3;	padding:9px; }
label {font-weight:bold;}

.dropdownparentcategory { background-color:#eeeeee;margin-bottom:3px; color:#000000;}

.displayaditemsodd { background:#f2f2f2; width:100%; margin-bottom:10px; }
.displayaditemseven { width:100%; margin-bottom:10px; }

.twitter-share-button {
width:55px;height:22px; background:transparent url('../images/tweetn.png') no-repeat  0 0;
text-align:left; text-indent:-9999px; display:block; margin-top: 5px;
}
#js_error { 
color:#cf0000; 
border: 1px dotted #cc0000; 
background-color: #fee; 
text-align:center; 
margin-bottom: 12px !important;
padding-top: 5px !important;
}
.awpcp_facebook_btn_img {
 border:none !important;
 margin:0 !important;
 padding:0 !important;
}