[submodule "checkouts/cmusphinx"]
	path = checkouts/cmusphinx
	url = git@github.com:supersym/cmusphinx.git
[submodule "checkouts/vision"]
	path = checkouts/vision
	url = git@github.com:clojens/vision.git
[submodule "checkouts/storm-starter"]
	path = checkouts/storm-starter
	url = git@github.com:clojens/storm-starter.git
